{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<h1>Contact list : </h1>

    <ul>
        {% for contact in contacts %}
            <li><a href="{{ path('app_contact_show', {'id':contact.id}) }}">
                    {{ contact.email }} a laissé un message le {{ contact.createdAt|date('d-m-Y') }} : {{ contact.status }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
